@page "/posteditor/{id?}"

@using NoteBookmark.BlazorApp
@using NoteBookmark.Domain
@inject PostNoteClient client
@inject NavigationManager Navigation

@rendermode InteractiveServer

<PageTitle>Edit Post</PageTitle>

<h1>Edit Post</h1>

@if (post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@post" OnValidSubmit="SavePost">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <FluentTextField Label="Title" @bind-Value="post.Title" />
        <FluentTextField Label="URL" @bind-Value="post.Url" />
        <FluentTextField Label="Author" @bind-Value="post.Author" />

        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Save</FluentButton>
    </EditForm>
}


@code {
    [Parameter]
    public string? id { get; set; }

    private Post? post;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(id))
        {
            post = await client.GetPost(id);
        }
    }

    private async Task SavePost()
    {
        if (post != null)
        {
            await client.SavePost(post);
            Navigation.NavigateTo("/posts");
        }
    }
}