@page "/note"
@using NoteBookmark.Domain
@inject PostNoteClient client
@inject NavigationManager navigationManager

<PageTitle>Note</PageTitle>

<h3>Create a Note</h3>

<FluentForm Model="@note" OnValidSubmit="@HandleValidSubmit">
    <FluentTextField Label="Comment" @bind-Value="note.Comment" Required="true" />
    <FluentTextField Label="Tags" @bind-Value="note.Tags" />
    <FluentTextField Label="Post ID" @bind-Value="note.PostId" Required="true" />
    <FluentButton Type="submit">Submit</FluentButton>
</FluentForm>

@code {
    private Note note = new Note();

    private async Task HandleValidSubmit()
    {
        note.Id = Guid.NewGuid().ToString();
        note.DateAdded = DateTime.UtcNow;

        await client.CreateNote(note);
        navigationManager.NavigateTo("/");
    }
}
