.main {
    min-height: calc(100dvh - 86px);
    align-items: stretch !important;
}

.body-content {
    align-self: stretch;
    height: calc(100dvh - 86px) !important;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 1rem;
    flex: 1;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column !important;
        row-gap: 0 !important;
        height: auto !important;
        min-height: calc(100dvh - 86px);
    }

    .body-content {
        height: auto !important;
        flex: 1;
    }
}
